#map-info-window {
    height: 190px;
    width: 160px;
    padding: 5px;
    border-radius: 3px;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
}

#map-info-window-photo {
    width: 150px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 5px;
    border-radius: 4px;
}

#map-info-window-name {
    font-size: 14px;
    color: #2d2e2f;
    font-weight: 700;
    padding: 3px;
}

#map-info-window-hours {
    font-size: 12px;
    color: #2d2e2f;
    font-weight: 400;
    padding: 3px;
}

#map-info-window-category {
    font-size: 11px;
    color: #2d2e2f;
    font-weight: 400;
    padding: 3px;
}

.search-index-map-container {
    position: sticky;
    top: 130px;
    margin-top: -70px;
    min-width: 310px;
    width: 310px;
    height: 110vh;
    margin-bottom: 18px;
    margin-left: -400px;
}